.grid-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(160px,1fr);
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    overflow-x: auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  overflow: auto;
}