.grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: minmax(10px,1fr);
    grid-template-rows: repeat(auto-fill,minmax(70px,1fr));
    overflow-x: auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  overflow: auto;
  white-space: nowrap; 
}
html {
    background-image: url('istockphoto-937025430-170667a.jpeg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    min-height: 100%;
}

body{
  height: 100%;
}

.grid {
    display: flex;
    padding: 0px;
}

img {
  height: 200px;
  width: 200px;
}

.dataIndex {
  font-size: 25px;
  list-style-type: none;
}
.dataIndex li {
  padding: 10px;
    margin: 5px;
}

.dataIndex a{
    text-decoration-line: none;
    border-style: none;
    border-radius: 25% 10%;
    padding: 10px;
    margin: 5px;
    background: aliceblue;
    width: 50px;
    text-align: center;
}

th {
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 20%;
  height: 50px;
  overflow: auto;
  white-space: nowrap; 
}

.pullTable {
    table-layout: fixed;
    width: 100%;
    font-size: 20px;
    border-spacing: 0px;
}