.nav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    width: 80%;
    height:40px;
}
.buttons div {
    list-style-type:none;
    border-style: none;
    border-radius: 25% 10%;
    padding: 10px;
    margin: 5px;
    background: aliceblue;
    width: 50px;
    text-align: center;
    opacity: 0.6;
}
.buttons a:hover{
    opacity: 1;
    transition: 0.3s;
}
.buttons a {
    text-decoration-line: none;
    list-style-type:none;
    border-style: none;
    border-radius: 25% 10%;
    padding: 10px;
    margin: 5px;
    background: aliceblue;
    width: 50px;
    text-align: center;
    opacity: 0.6;
}

.buttons{
    display: flex;
}

.nav img {
    height: 70px;
    width: 70px;
    background: transparent;
    filter: brightness(15000%);
}

.nav img:hover{
    height: 70px;
    width: 70px;
    background: transparent;
    animation-name: fly;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes fly {
    100%{transform: rotate(365deg);}
}

.main {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 15%; 
    left: 10%; 
    overflow-x: scroll;
    overflow-y: scroll;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    color:aliceblue;
}

.background {
    position: fixed;
    min-height: 700px;
    height: 110vh;
    filter: brightness(95%);
    background: linear-gradient(37deg,#455eda 30%,#e2a1ad 70%,#69d262 100%);
    width: 100%;
    top: -175px;
    z-index: -1;
    transform: skewY(-5deg);
    transform-origin: 0;
    left: 0px;
    animation-name: home;
    animation-duration: 3s;
}

@keyframes home {
    0%{transform: skewY(0deg)}
    100%{transform: skewY(-5deg)}
}