.nav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    width: 80%;
    height:40px;
    background-color: #f0f8f9;
}